# Archivos y directorios generados por Visual Studio
[Bb]in/
[Oo]bj/
*.pdb
*.suo
*.user
*.useros
*.vspscc
*.vssscc

# Directorios de paquetes NuGet
[Pp]ackages/
[Dd]ist/

# Archivos de la solución
*.sln.docstates
*.vshost.*
*.csproj.user
*.suo
*.vs/
.vs/
.vscode/

# Archivos de prueba
TestResults/